*~
#*
*#
.#*
autom4te.*
cscope.files
cscope*out
gmon.out
config.h
config.log
config.status
*.[158]
.deps
loc2c-test
stamp-h1
stap
staprun
testresults
stapio
stap_merge
CVS
.checkstyle
.cproject
.metadata
.project
.settings
SNAPSHOT
*.o
git_version.h
Makefile
build-elfutils
include-elfutils
lib-elfutils
stamp-elfutils
