*~
#*
*#
.#*
autom4te.*
cscope.files
cscope*out
gmon.out
config.h
config.log
config.status
*.[18]
*.3stap
.deps
loc2c-test
run-stap
stamp-h1
stap
staprun
testresults
stapio
stap_merge
stap-client-connect
stap-server-connect
CVS
.checkstyle
.cproject
.metadata
.project
.settings
SNAPSHOT
*.o
git_version.h
Makefile
build-elfutils
include-elfutils
lib-elfutils
stamp-elfutils
