*~
#*
*#
.#*
autom4te.*
cscope*out
config.h
config.log
config.status
*.[158]
.deps
loc2c-test
stamp-h1
stap
staprun
systemtap.spec
testresults
stapio
stap_merge
CVS
.checkstyle
.cproject
.metadata
.project
.settings
SNAPSHOT
*.o
git_version.h
